@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body, .App {
  font-family: 'Lexend Deca', sans-serif;

}

.App {
  text-align: center;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 40px;
  color: #00684A;
}

strong {
  font-weight: 900; 
}


.control-buttons {
  margin: 20px;
}

.control-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.start-buttons{
  background-color: #00ED64;
  border: 1px solid black;
}

.stop-buttons{
  border: 1px solid red;
  background-color: white;
  color: red;
}

.control-buttons button:disabled{
  background-color: #E8EDEB;
  border: 1px solid #889397;
  color: #889397;
}

.graph-container {
  margin: 20px;
}

.explanation {
  margin: 20px auto;
  padding: 15px;
  max-width: 80%;
  background-color: #F9FBFA; /* light blue  */
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-weight: 200;
}

.explanation p {
  margin: 0;
}

.explanation ul {
  list-style-type: disc;
  margin-left: 20px;
}

.explanation li {
  margin: 5px 0;
}

.data-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-section {
  width: 90%;
  margin: 10px 0;
  text-align: left;
}

.data-section pre {
  background-color: #f5f5f5;
  padding: 10px;
  overflow-x: auto;
}

.agent-details-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.agent-details {
  flex: 1;
  margin: 0 20px;
  text-align: left;
  padding: 10px 20px;
  max-width: 30%;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 8%);
}

.kpi-container {
  margin: 30px 50px 30px 50px;
  text-align: left;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 8%);
}

.kpi-container ul {
  list-style-type: none;
  padding: 0;
}

.kpi-container li {
  margin: 5px 0;
}
.agent-chip-h2{
  margin-top: 15px;
}

.agent-chip-pm{
  background-color: #F9EBFF;
  max-width: fit-content;
  border-radius: 50px;
  padding: 5px;
  font-weight: 600;
  color: #9e50d2;
  font-size: 12px;
  margin-top: 5px;
}



.agent-chip-po{
  background-color: #E3FCF7;
  max-width: fit-content;
  border-radius: 50px;
  padding: 5px;
  font-weight: 600;
  color: #006CFA;
  font-size: 12px;
  margin-top: 5px;
}

.agent-chip-qa{
  background-color: #E9FF99;
  max-width: fit-content;
  border-radius: 50px;
  padding: 5px;
  font-weight: 600;
  color: #01854b;
  font-size: 12px;
  margin-top: 5px;
}